<div class="container" ng-controller="NavController">
	<nav class="navbar navbar-fixed-top">
		<div class="container container-black">
			<div class="row">
				<div class="col-sm-12">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-click="isNavOpen = !isNavOpen">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
						<a ng-href="#/"><img src="img/logo@2x.png" id="logo-mammoth" ng-class="{ shootlasers : shootLasers}"></img></a>
					</div>
					<div ng-class="{'collapse': !isNavOpen}" class="navbar-collapse" >
						<ul ng-cloak class="nav navbar-nav navbar-right">
							<li><a ng-href="#/about">About</a></li>
							<li ng-hide="user.is_valid_pro"><a ng-href="#/pro">Pro Account</a></li>
							<li ng-hide="token"><a class="btn btn-primary btn-hollow mr1" ng-href="#/register">Register</a></li>
							<li ng-hide="token"><a class="btn btn-info btn-hollow" ng-href="#/login">Login</a></li>
							<li ng-show="token"><a class="btn btn-primary btn-hollow mr1" ng-href="#/profile">Profile</a></li>
							<li ng-show="token"><a class="btn btn-info btn-hollow" ng-click="logout()">Logout</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12">
					<flash-message></flash-message>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="progress" ng-show="progressbar.percentage > 0">
						<div class="progress-bar active" role="progressbar" aria-valuenow="{{progressbar.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progressbar.percentage}}%">
							<span class="sr-only">{{progressbar.percentage}}% Complete</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
