<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	
	<div class="row">
		<div class="col-sm-7 col-sm-offset-1 content-text">
			<h1 class="page-header">Impressum</h1>
			<h2>Betreiber dieser Webseite</h2>
			<address>
				<p>
					<strong>Numerisch – Gesellschaft für digitale Produkte mbH</strong><br/>
					Erich-Weinert-Straße 13<br/>
					D-10439 Berlin<br/>
				</p>
			</address>
			<p>
				Vertretungsberechtige Geschäftsführer:<br/>
				Knut Schade, Antje Thoms-Schade<br/>
			</p>
			Telefon: +49 (0)30 12059571<br/>
			<br/>
			E-Mail: <a href="mailto:kontakt@numerisch.com">kontakt@numerisch.com</a><br/>
			<br/>
			Registergericht: Amtsgericht Berlin Charlottenburg<br/>
			Registernummer: HRB 164530 B<br/>
			<br/>
			USt-IdNr: DE298267405<br/>

			<h2>Inhaltlich Verantwortliche</h2>
			Knut Schade (Anschrift siehe oben)


			<h2>Haftungshinweis</h2>

			<p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

			<div>
				<h3>
					AGB für die Nutzung von F0F7.net
				</h3>
				<h4>
					§1 Zustandekommen des Vertragsverhältnisses, Änderungen der Nutzungsbedingungen
				</h4>
				<p>
					1.1 Die nachfolgenden Nutzungsbedingungen regeln das vertragliche Verhältnis zwischen dem Anbieter der Website F0F7.net (nachfolgend Anbieter) und dem Nutzer.
				</p>
				<p>
					1.2 Mit dem Abschluss des Registrierungsvorganges für die Website gibt der Nutzer ein Angebot zum Abschluss eines Nutzungsvertrages auf der Grundlage dieser Nutzungsbedingungen ab. Mit der Freischaltung des Nutzeraccounts durch den Anbieter nimmt dieser das Angebot zum Abschluss eines Nutzungsvertrages an.
				</p>
				<p>
					1.3 Entgegenstehende oder von diesen Nutzungsbedingungen abweichende Bedingungen des Nutzers werden im Zweifel nur durch eine ausdrückliche schriftliche Bestätigung durch den Anbieter anerkannt.
				</p>
				<p>
					1.4 Der Anbieter ist berechtigt, diese Bedingungen während der laufenden Mitgliedschaft zu ändern und anzupassen. Der Anbieter wird dem Nutzer die geänderten Bedingungen in Textform übermitteln und auf die Neuregelungen besonders hinweisen. Zugleich wird der Anbieter dem Nutzer eine angemessene Frist für die Erklärung einräumen, ob er die geänderten Nutzungsbedingungen für die weitere Inanspruchnahme der Leistungen akzeptiert. Erfolgt innerhalb dieser Frist keine Erklärung, so gelten die geänderten Bedingungen als vereinbart. Der Anbieter wird den Nutzer bei Fristbeginn ausdrücklich auf diese Rechtsfolge hinweisen. Widerspricht der Nutzer der Änderung dieser Bedingungen, so ist der Anbieter berechtigt, den Nutzungsvertrag zum Zeitpunkt des Inkrafttretens der Nutzungsbedingungen gegenüber den übrigen Nutzern, fristlos zu kündigen.
				</p>
				<h4>
					§2 Gegenstand der Nutzungsvertrages
				</h4>
				<p>
					2.1 Gegenstand des Nutzungsvertrages ist die Bereitstellung einer weltweit zugänglichen Website durch den Anbieter. Die Website ist folgendem Themenbereich gewidmet:<br>
					- Programmverwaltung von MIDI Synthesizern.
				</p>

				<p>
					2.2 Die Website stellt dem Nutzer folgende Nutzungsmöglichkeiten zur Verfügung:
				</p>
				<ul>
					<li>Anlegung eines eigenen Profils zur Person, welches den anderen registrierten Nutzern und darüber hinaus jedem Internetnutzer öffentlich zugänglich und über Suchmaschinen auffindbar ist.
					</li>
					<li>Upload von eigenem Content und Contentmanagement über den Nutzeraccount .
					</li>
					<li>Kontaktaufnahme zu anderen Nutzern, Verwalten der Kontaktdaten.
					</li>
					<li>Empfangen und Versenden und Mitteilungen von und zu anderen Nutzern.
					</li>
					<li>Betätigung einer Suchanfrage nach anderen Nutzern und nach Profildaten.
					</li>
					<li>Eintrag von Mitteilungen und Kommentaren in Blogs zu den dort vorgesehenen Themenbereichen.
					</li>
				</ul>
				<p>
					2.3 Die konkrete grafische und funktionelle Ausgestaltung der vertragsgegenständlichen Nutzungsmöglichkeiten, die Erweiterung der Nutzungsmöglichkeiten mit zusätzlichen Features oder deren Ergänzung mit kostenpflichtigen Zusatzleistungen stehen im Ermessen des Anbieters. Der Anbieter ist unter Beibehaltung der vertragsgegenständlichen Nutzungsmöglichkeiten, jederzeit berechtigt, die konkrete Ausgestaltung zu modifizieren und anzupassen.
				</p>
				<p>
					2.4 Die Website steht dem Nutzer zeitlich unbegrenzt zu mindestens 95% im Jahresmittel zur Verfügung. Unvermeidbare, unvorhersehbare und außergewöhnliche Ereignisse, die zur Nichtverfügbarkeit der Website führen können, wie z.B. Stromausfälle, Hackingeingriffe, Ausfälle der Telekommunikationsleitungen ab dem Übergabepunkt an das Internet werden auf das Verfügbarkeitsminimum nicht angerechnet.
				</p>
				<h4>
					§3 Registrierung, Nutzeraccount, Umgang mit Passwörtern
				</h4>
				<p>
					3.1 Für die Nutzung der Website können sich
				</p>
				<ul>
					<li>ausschließlich natürliche Personen registrieren.
					</li>
					<li>Es können sich nur Nutzer registrieren, die mindestens 18 Jahre alt sind.
					</li>
				</ul>
				<p>
					3.2 Der Nutzer ist verpflichtet, gemäß den Vorgaben des Registrierungsformulars wahrheitsgemäße und vollständige Angaben zu seiner Person zu machen und seine Daten stets auf dem aktuellen Stand zu halten.
				</p>
				<p>
					3.3 Der Nutzer ist verpflichtet, sein Passwort geheim zu halten, sicher aufzubewahren und Dritten gegenüber nicht zugänglich zu machen. Wird das Passwort gegenüber Dritten bekannt, so hat der Nutzer dem Anbieter hiervon unverzüglich per E-Mail oder schriftlich zu informieren, damit das alte Passwort gesperrt und ein neues Passwort vergeben werden kann. Der Nutzer ist nicht berechtigt, seinen Nutzeraccount Dritten zur Verfügung zu stellen. Der Nutzer nimmt zur Kenntnis, dass es für die Handlungen eines Dritten, dem er seinen Nutzeraccount zur Verfügung stellt ist, vollumfänglich verantwortlich ist.
				</p>
				<h4>
					§4 Allgemeine Pflichten des Nutzers
				</h4>
				<p>
					4.1 Der Nutzer darf die vom Anbieter bereitgestellten Nutzungsmöglichkeiten nur im Rahmen der vertraglich vorausgesetzten Zwecke nutzen. Jede über diese Zweckbindung hinausgehende missbräuchliche Nutzung ist dem Nutzer untersagt, dazu zählen insbesondere folgende Handlungen:
				</p>
				<ul>
					<li>systematisches Auslesen der Kontaktdaten anderer Nutzer zum Zwecke der Weitergabe an Dritte;
					</li>
					<li>unzumutbare Belästigungen anderer Nutzer durch aggressive, obszöne, beleidigende, verleumderische oder aufdringliche Forenbeiträge oder Nachrichten;
					</li>
					<li>umfangreiche oder dauerhafte Nutzung der Website zur Veröffentlichung und Verbreitung von Inhalten, die sachlich nicht dem Zweck oder Themenbereich der Website oder ihrer Blogs und Foren entsprechen und die die Attraktivität der Website für andere Nutzer beeinträchtigen können;
					</li>
					<li>jegliche Maßnahmen, die zu übermäßigen Systembelastungen oder zu Systemstörungen führen;
					</li>
					<li>das Nutzen fremder Identitäten für die Registrierung, das Einstellen von Beiträgen oder das Versenden von Nachrichten.
					</li>
				</ul>
				<p>
					4.2 Jede der vorbenannten Pflichtverletzungen berechtigt den Anbieter zur fristlosen Kündigung des Nutzungsvertrages und zur Sperrung des Nutzeraccounts. Darüber hinaus ist der Anbieter berechtigt, die Freischaltung eines neuen Accounts für diesen Nutzer für die Dauer eines Jahres ab der Kündigung zu verweigern.
				</p>
				<p>
					4.3 Äußerungen und Kommentare in Nachrichten, Foren- oder Blogeinträgen sollen den Regeln eines höflichen und respektvollen Umgangs untereinander folgen. Kritiken und Meinungsäußerungen sollten konstruktiv geäußert werden und dürfen.
				</p>
				<h4>
					§5 Pflichten des Nutzers bezüglich eingestellter Inhalte
				</h4>
				<p>
					5.1 Der Nutzer hat sicherzustellen, dass er durch das Einstellen von Inhalten (Texte, Bilder, Fotos, Videos, Namen, Marken u. Ä.) keine Rechte Dritter verletzt (z.B. Verletzung von Urheberrechten, Persönlichkeitsrechtsverletzungen, Wettbewerbsverletzungen).
				</p>
				<p>
					5.2 Der Nutzer stellt den Anbieter von sämtlichen Ansprüchen Dritter frei, die diese in Bezug auf eine von ihm begangene und von ihm zu vertretende Rechtsverletzung gegenüber dem Anbieter geltend machen. Der Nutzer übernimmt diesbezüglich sämtliche notwendigen Kosten der Rechtsverteidigung.
				</p>
				<p>
					5.3 Der Anbieter ist berechtigt, die vom Nutzer eingestellten Inhalte zu löschen oder zu deaktivieren, wenn diese gegen die Rechte Dritter verstoßen oder Dritte wegen einer Rechtsverletzung Ansprüche geltend machen, deren Begründetheit nicht offenkundig auszuschließen ist.
				</p>
				<p>
					5.4 Erhält der Anbieter von einer möglichen Rechtsverletzung durch die Inhalte des Nutzers Kenntnis, wird er dem Nutzer hiervon unverzüglich in Textform Mitteilung machen.
				</p>
				<h4>
					§6 Kündigung und Löschung des Nutzeraccounts
				</h4>
				<p>
					6.1 Der Nutzer ist berechtigt, den Nutzungsvertrag mit dem Anbieter jederzeit ohne Angabe von Gründen und ohne Einhaltung einer Frist zu kündigen. Die Kündigung bedarf der Textform oder kann konkludent durch Deaktivierung des Nutzeraccounts erklärt werden. Im Falle der Kündigung wird das Profil des Nutzers gelöscht, seine in Foren oder Blogs veröffentlichten Beiträge und Inhalte bleiben jedoch, ohne Verlinkung zu seinem Profil, bestehen.
				</p>
				<p>
					6.2 Der Anbieter ist berechtigt, den Nutzungsvertrag mit einer Frist von einem Monat zum Ende des vorangehenden Monats zu kündigen.
				</p>
				<p>
					6.3 Der Anbieter ist neben der fristgebundenen Kündigung berechtigt, den Nutzungsvertrag ohne Einhaltung einer Frist zu kündigen, wenn ein wichtiger Grund vorliegt. Ein wichtiger Grund liegt insbesondere dann vor, wenn der Nutzer
				</p>
				<ul>
					<li>nachhaltig und schwerwiegend gegen seine vertraglichen Pflichten verstößt (vgl. §4)
					</li>
					<li>bei der Nutzung der Website schuldhaft und schwerwiegend gegen gesetzliche Vorschriften verstößt.
					</li>
					<li>In diesen Fällen ist der Anbieter auch berechtigt, den Nutzeraccount zu löschen und die Einrichtung eines neuen Accounts für diesen Nutzer für die Dauer eines Jahres nach Zugang der Kündigung zu verweigern.
					</li>
				</ul>
				<p>
					6.4 Der Anbieter wird von seinem Recht zur ordentlichen Kündigung und zur Löschung des Nutzeraccounts Gebrauch machen, wenn der Nutzer sich mindestens ein Jahr lang nicht mehr eingelogged und auf eine Erinnerungsnachricht nicht reagiert hat.
				</p>
				<h4>
					§7 Haftung
				</h4>
				<p>
					7.1 Der Anbieter haftet in Fällen des Vorsatzes oder der groben Fahrlässigkeit nach den gesetzlichen Bestimmungen. Die Haftung für Garantien erfolgt verschuldensunabhängig. Für leichte Fahrlässigkeit haftet der Anbieter ausschließlich nach den Vorschriften des Produkthaftungsgesetzes, wegen der Verletzung des Lebens, des Körpers oder der Gesundheit oder wegen der Verletzung wesentlicher Vertragspflichten. Der Schadensersatzanspruch für die leicht fahrlässige Verletzung wesentlicher Vertragspflichten ist jedoch auf den vertragstypischen, vorhersehbaren Schaden begrenzt, soweit nicht wegen der Verletzung des Lebens, des Körpers oder der Gesundheit gehaftet wird. Für das Verschulden von Erfüllungsgehilfen und Vertretern haftet der Anbieter in demselben Umfang.
				</p>
				<p>
					7.2 Die Regelung des vorstehenden §7.1 erstreckt sich auf Schadensersatz neben der Leistung, den Schadensersatz statt der Leistung und den Ersatzanspruch wegen vergeblicher Aufwendungen, gleich aus welchem Rechtsgrund, einschließlich der Haftung wegen Mängeln, Verzugs oder Unmöglichkeit.
				</p>
				<h4>
					§8 Schlussbestimmungen
				</h4>
				<p>
					8.1 Es gilt ausschließlich das Recht der Bundesrepublik Deutschland unter Ausschluss des Internationalen Privatrechts und des UN-Kaufrechts. Hiervon ausgenommen sind Ansprüche auf dem Gebiet der gewerblichen Schutzrechte und des Urheberrechts.
				</p>
				<p>
					8.2 Die etwaige Unwirksamkeit einer Bestimmung dieser Nutzungsbedingungen lässt die Wirksamkeit der Nutzungsbedingungen im Übrigen unberührt.
				</p>
				<p>
					8.3 Für die Bestimmung des Gerichtsstandes gilt Folgendes:
				</p>
				<ul>
					<li>Hat der Nutzer keinen allgemeinen Gerichtsstand in der Bundesrepublik Deutschland so ist Gerichtsstand der Sitz des Anbieters. Der Anbieter kann den Nutzer auch an seinem allgemeinen Gerichtsstand verklagen.
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

