
<div class="row tron-bottom ">
	<div class="col-sm-8 col-md-8">
		<div class="row">
			<div class="col-sm-12 col-md-12 text-center mb2 ">
				<h1>Make your MIDI synth awesome again</h1>
				<p class="lead">... just by putting new sounds in it and reorganizing your favorites.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 text-center mb1">
				LASER Mammoth is a <strong>SysEx Librarian</strong>
			</div>
		</div>

		<div class="text-center triangle"></div>
		<div class="contentblock">
			<div class="row">
				<div class="col-sm-6">
					<h2>Reorder</h2>
					<p>Your favorite sound programs are spread all over different banks?</p>
				</div>
				<div class="col-sm-6">
					<h2>Rename</h2>
					<p>All selfmade programs on your synth share the same name like Init2 and Init2#3?</p>
				</div>
				<div class="col-sm-6">	
					<h2>Delete</h2>
					<p>Your synth has panflute sounds. You might not want that.</p>
				</div>	
				<div class="col-sm-6">
					<h2>Share</h2>
					<p>Publish your sound creation to the Mammoth SysEx Cloud. Share your sounds with other enthusiasts.</p>
				</div>
			</div>
		</div>

	</div>
	<div class="col-sm-4 col-md-4">
		<h2>Watch the Trailer</h2>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R5ZVwXvrqlc" frameborder="0" allowfullscreen></iframe>
		</div>
		<h2>Supported devices</h2>
		<ul class="list-devices">
			<li ng-repeat="(deviceKey, deviceName) in availableDevices"><a ng-href="#/SysexLibrarian/{{deviceKey}}">{{deviceName}}</a></li>
		</ul>

	</div>
</div>
