<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	<div class="row mb2">
		<div class="col-md-12">
			<div class="row">
				<form name="myForm" ng-cloak>
					<div class="form-group">
						<div class="col-sm-4">
							<label for="device">Devices</label>
							<select id="device" class="form-control" ng-model="selectedDevice" ng-change="go()">
								<option value="">Auto Detect</option>
								<option ng-repeat="(deviceKey, deviceName) in availableDevices" value="{{deviceKey}}">{{deviceName}}</option>
							</select>
						</div>
					</div>
					<div ng-show="midiAvailable">
						<div class="form-group">
							<div class="col-sm-4">
								<label for="midiIn">MIDI In Port</label>
								<select class="form-control" name="midiIn" id="midiIn" ng-model="midiInPort.id" ng-change="changeMIDIInPort()">
									<option ng-repeat="option in midiInPort.availableOptions" value="{{option.id}}">{{option.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-4">
								<label for="midiOut">MIDI Out Port</label>
								<select class="form-control" name="midiOut" id="midiOut" ng-model="midiOutPort.id" ng-change="changeMIDIOutPort()">
									<option ng-repeat="option in midiOutPort.availableOptions" value="{{option.id}}">{{option.name}}</option>
								</select>
							</div>
						</div>
					</div>
					
					<div ng-hide="midiAvailable" class="form-group">
						<div class="col-md-8" >
							<label for="btn-enable-midi">Grant LASER Mammoth access to your MIDI devices</label>
							<input id="btn-enable-midi" type="button" class="btn btn-primary btn-block" ng-click="requestMidiAccess();" value="Enable MIDI" />
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>

	
	<div class="row" ng-show="deviceHints.length > 0">
		<div class="col-md-12">
			<div class="deviceHints" >
				<h3>{{deviceModel}} setup</h3>
				<ul>
					<li ng-repeat="deviceHint in deviceHints" ng-bind-html="deviceHint">{{deviceHint}}</li>
				</ul>
			</div>
		</div>
	</div>
		

	<div ng-show="selectedDevice" class="bankmanager">
		<div class="row">
			<div class="col-md-12">
				<h2>Bankmanager <small>{{deviceModel}}</small></h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">My Banks</div>
					<ul class="list-group">
						<li class="list-group-item" ng-class="[{'selected': bankmanager.private.selected === bank.id}, {'is-public':bank.is_public}]" ng-repeat="bank in bankmanager.private.data track by bank.id">
							<a title="Load Bank to Masterboard" onbeforesave="editBankName($data, bank.id)" editable-text="bank.name" e-form="bankNameForm" ng-click="loadBank(bank, 'A')">{{bank.name || 'empty'}}</a>

							<small>{{bank.description}}</small>

							<div class="editTools pull-right">
								<a title="Publish/Unpublish Bank" class="lnk-publish" ng-click="togglePublishBank($index, bank)"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
								<a ng-click="bankNameForm.$show()" ng-hide="bankNameForm.$visible" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
								<a title="Delete Bank" class="lnk-delete"
									mwl-confirm
									message="Are you sure you want to delete your bank? This cannot be undone!"
									confirm-text="Yes, delete"
									cancel-text="No, cancel"
									on-confirm="deleteBank(bank)"
									placement="right"
									confirm-button-type="danger">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</a>
							</div>
						</li>
						<li class="list-group-item" ng-show="bankmanager.private.data.length == 0">You have not saved any {{deviceModel}} banks.</li>
						<li class="list-group-item" ng-hide="token">If you are <a ng-href="#/login">logged in</a> you will see your Program Banks here...</li>
					</ul>
				</div>
				<nav>
				  <ul class="pager">
				    <li ng-show="bankmanager.private.pagination.has_prev_page"><a ng-click="getPrivateBankmanagerData(bankmanager.private.pagination.current_page - 1);" >Previous</a></li>
				    <li ng-show="bankmanager.private.pagination.has_next_page"><a ng-click="getPrivateBankmanagerData(bankmanager.private.pagination.current_page + 1);" >Next</a></li>
				  </ul>
				</nav>

			</div>
			<div class="col-sm-12 col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">Public Bank Library</div>
					<ul class="list-group">
						<li class="list-group-item" ng-class="{'selected': bankmanager.public.selected === bank.id}" ng-repeat="bank in bankmanager.public.data track by bank.id"><a title="Load Bank to Clipboard" ng-click="loadBank(bank, 'B')">{{bank.name}}</a> <small>{{bank.user.username}} {{bank.description}}</small></li>
						<li class="list-group-item" ng-show="bankmanager.public.data.length == 0">Nothing here yet.</li>
					</ul>
				</div>
				<nav>
				  <ul class="pager">
				    <li ng-show="bankmanager.public.pagination.has_prev_page"><a ng-click="getPublicBankmanagerData(bankmanager.public.pagination.current_page - 1);" >Previous</a></li>
				    <li ng-show="bankmanager.public.pagination.has_next_page"><a ng-click="getPublicBankmanagerData(bankmanager.public.pagination.current_page + 1);" >Next</a></li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<div ng-hide="selectedDevice" ng-include src="'partials/info.html'"></div>
			<div class="toolbar" ng-show="selectedDevice">
				<div class="row mb2">
					<div class="form-group" ng-show="amountOfBanks > 1" >
						<div class="col-md-4">
							<label for="bank">Program Banks</label>
							<select id="bank" class="form-control" ng-model="selectedBank" >
								<option ng-repeat="(bankKey, bank) in banks" value="{{bankKey}}">{{bank.label}}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<button ng-click="retrieveBank('A');" ng-disabled="progressbar.percentage >0" class="btn btn-primary btn-block">Request Programs</button>
						<p>Request Programs via MIDI from {{deviceModel}}</p>
					</div>
					<div class="col-sm-4" ng-show="models.lists.A.length > 0">
						<button ng-click="sendBank('A');" class="btn btn-danger btn-block" ng-disabled="midiOutPort.id == null">Overwrite Bank</button>
						<p>Overwrite Bank on {{deviceModel}} with Programs from <em>Master Board</em></p>
					</div>
					<div class="col-sm-4">
						<label class="import-file btn" for="input-sysex">
							Import SysEx
						</label>
						<p>
							Import SysEx file to <em>Clipboard</em>.<br /><small class="text-muted ">You can drop it on the file button.</small><br/>
							<input id="input-sysex" type="file" accept=".syx" onchange="angular.element(this).scope().processSysexFile(event)" />
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4" ng-show="models.lists.A.length > 0">
						<button ng-disabled="(bankmanager.private.pagination.count >= bankmanager.limit) || !token" ng-click="saveBank('A');" ng-show="models.lists.A.length > 0" class="btn btn-info btn-block">Save a new Bank to <em>My Banks</em></button>
						<p class="text-warning" ng-show="bankmanager.private.pagination.count >= bankmanager.limit">You cannot save more than {{bankmanager.limit}} banks per device.
						</p>
						<p class="text-warning" ng-hide="token">Log in to save the programs of your <em>Master Board</em></p>

						<p ng-hide="bankmanager.private.pagination.count >= bankmanager.limit || !token">Save <em>Master Board</em> as a <strong>new Bank</strong> to <em>My Banks</em></p>
					</div>
					<div class="col-sm-4" ng-show="models.lists.A.length > 0">
						<button ng-disabled="!bankmanager.private.selected || !token" ng-click="updateProgramsInBank();" ng-show="models.lists.A.length > 0" class="btn btn-info btn-block">Update current Bank</button>
						<p>Update the currently selected Bank in <em>My&nbsp;Banks</em> with Programs from <em>Master Board</em></p>
					</div>
					<div class="col-sm-4" ng-show="models.lists.A.length > 0">
						<button ng-disabled="!user.is_valid_pro" ng-click="downloadBank('A');" ng-show="models.lists.A.length > 0" class="btn btn-default btn-block"><span ng-show="!user.is_valid_pro" class="badge badge-default">PRO</span> Download SysEx</button>
						<p>Download <em>Master Board</em> as SysEx&nbsp;file</p>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="patchList tron-bottom" ng-show="selectedDevice">
		<div class="wrapper-head">
			<div class="row">
				<div class="col-sm-6">
					<h2>Masterboard <small><a class="lnk-showHelp" ng-click="showHelp = !showHelp">Huh?</a></small></h2>
					<div ng-show="showHelp">
					<p>Programs you receive from your synths or from <em>My Banks</em> in the <em>Bankmanager</em> populate the <em>Masterboard</em>. Only programs of the <em>Masterboard</em> can be saved to the <em>Bankmanager</em> or transferred back to your synths. However you can swap the entire list with the <em>Clipboard</em>.</p>
					</div>
					<p><strong>Click directly on the program name</strong> to transfer the program to your synths <em>Edit&nbsp;Buffer</em> to prelisten them without overwriting any data on your synth. <strong>Drag'n'drop</strong> programs to reorder them.</p>
				</div>
				<div class="col-sm-6">
					<h2>Clipboard <small><a class="lnk-showHelp" ng-click="showHelp = !showHelp">Hä?</a></small></h2>
					<div ng-show="showHelp">
					<p>Programs you select from the <em>Public Bank Library</em> or from an external SysEx file will go to the <em>Clipboard</em>. You have to move the programs to the <em>Masterboard</em> to transfer them to your synths.</p>
					</div>
					<p>Type <span class="cfp-hotkeys-key">?</span> to see the available keyboard shortcuts.</p>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-5">
					<button ng-disabled="models.lists.A.length == 0" ng-click="clearList('A');" class="pull-left btn btn-default mb1">Clear</button>
				</div>
				<div class="col-sm-2">
					<button ng-click="swapLists();" ng-show="(models.lists.A.length + models.lists.B.length) > 0"  class="btn btn-default btn-block"><span>&#8592;</span> Swap Lists <span>&#8594;</span></button>
				</div>
				<div class="col-sm-5">
					<div class="pull-right"><button ng-disabled="models.lists.B.length == 0" ng-click="clearList('B');" class="btn btn-default mb1">Clear</button></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-5">
					<div class="pull-left label label-default" ng-show="models.lists.A.length > 0" >Program {{models.lists.A.length}} / {{patchesPerBank}}</div>
				</div>
				<div class="col-sm-2">
<!-- 					<button ng-click="swapLists();" ng-show="(models.lists.A.length + models.lists.B.length) > 0"  class="btn btn-default btn-block"><span>&#8592;</span> Swap Lists <span>&#8594;</span></button> -->
				</div>
				<div class="col-sm-5">
					<div class="pull-right label label-default" ng-show="models.lists.B.length > 0" >Program {{models.lists.B.length}} / {{patchesPerBank}}</div>
				</div>
			</div>	

		</div>

		<div class="row">
			<div class="col-sm-6">
				<!-- The dnd-list directive allows to drop elements into it.
				     The dropped data will be added to the referenced list -->
				<ul dnd-list="models.lists.A" ng-class="{ empty : models.lists.A.length == 0}">
				    <li ng-repeat="item in models.lists.A"
				        dnd-draggable="item"
				        dnd-moved="models.lists.A.splice($index, 1)"
				        dnd-effect-allowed="move"
				        dnd-disable-if="programNameForm.$visible"
				        ng-class="[{'selected': models.selected === item}, {'list-exceed': $index >= patchesPerBank}]"
				        >
				        <span class="badge">{{$index+1}}</span>
				        <div class="program-info"><a title="Transfer to Edit Buffer" ng-click="selectProgram(item, 'A')" onbeforesave="editProgramName('A', $data, $index)" editable-text="item.name" e-form="programNameForm" >
				        {{item.name || 'empty'}}</a><span class="dna">{{item.dna.substr(0,4)}}</span></div>

				        <div class="editTools pull-right" ng-hide="programNameForm.$visible">
					        <a title="Overwrite Program" ng-click="sendProgram(item, $index)" ng-hide="singleProgramsCannotBeTransmitted || ($index >= patchesPerBank)"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span></a>
					        <a title="Edit program name" ng-click="programNameForm.$show()" ng-hide="!programsCanBeRenamed" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
					        <a title="Random program name" ng-click="editProgramName('A', 'RaND', $index)" ng-hide="!programsCanBeRenamed" ><span class="glyphicon glyphicon-random" aria-hidden="true"></span></a>
					        <a title="Remove program from list" class="lnk-delete" ng-click="models.lists.A.splice($index, 1)" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				        </div>
				    </li>
				</ul>
			</div>

			<div class="col-sm-6">
				<!-- The dnd-list directive allows to drop elements into it.
				     The dropped data will be added to the referenced list -->
				     <ul dnd-list="models.lists.B" ng-class="{ empty : models.lists.B.length == 0}">
				         <li ng-repeat="item in models.lists.B"
				             dnd-draggable="item"
				             dnd-moved="models.lists.B.splice($index, 1)"
				             dnd-effect-allowed="move"
				             dnd-disable-if="programNameForm.$visible"
				             ng-class="[{'selected': models.selected === item}, {'list-exceed': $index >= patchesPerBank}]"
				             >
				             <span class="badge">{{$index+1}}</span>
				             <div class="program-info"><a title="Transfer to Edit Buffer" ng-click="selectProgram(item, 'B')" onbeforesave="editProgramName('B', $data, $index)" editable-text="item.name" e-form="programNameForm" >{{item.name || 'empty'}}</a><span class="dna">{{item.dna.substr(0,4)}}</span></div>
				             <div class="editTools pull-right" ng-hide="programNameForm.$visible">
				     	        <a title="Edit program name" ng-click="programNameForm.$show()" ng-hide="!programsCanBeRenamed" ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
				     	        <a title="Random program name" ng-click="editProgramName('B', 'RaND', $index)" ng-hide="!programsCanBeRenamed" ><span class="glyphicon glyphicon-random" aria-hidden="true"></span></a>
				     	        <a title="Remove program from list" class="lnk-delete" ng-click="models.lists.B.splice($index, 1)" ><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				             </div>
				         </li>
				     </ul>
				<samp><pre>{{modelAsJson}}</pre></samp>
			</div>
		</div>
	</div>
</div>
<div id="logger">
	<samp><pre>{{logger}}</pre></samp>
</div>



