<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $banksProgram->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $banksProgram->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Banks Programs'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Programs'), ['controller' => 'Programs', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Program'), ['controller' => 'Programs', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Banks'), ['controller' => 'Banks', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Bank'), ['controller' => 'Banks', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="banksPrograms form large-9 medium-8 columns content">
    <?= $this->Form->create($banksProgram) ?>
    <fieldset>
        <legend><?= __('Edit Banks Program') ?></legend>
        <?php
            echo $this->Form->input('bank_id', ['options' => $banks, 'empty' => true]);
            echo $this->Form->input('program_id', ['options' => $programs, 'empty' => true]);
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
