<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	<div class="content-text" ng-cloak>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<h1 class="page-header">Upgrade your LASERS <small>Become a massive pro Mammoth</small></h1>
				<p class="lead">The <em>Pro Account</em> is an upgrade for registered LASER Mammoth users.</p>
				<h2>Feature Comparison</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-md-6">
				<table class="table table-bordered unicorn">
					<thead>
						<tr>
							<th></th>
							<th class="ac">Standard</th>
							<th class="ac">Pro</th>
						</tr>
					</thead>
					<tbody>
						<tr class="info head">
							<td colspan="3">Banks</td>
						</tr>
						<tr>
							<td>Amount of saveable banks per synth</td>
							<td class="ac"><span class="number muted">{{accounts.standard.bankmanager.limit}}</span></td>
							<td class="ac"><span class="number">{{accounts.pro.bankmanager.limit}}</span></td>
						</tr>
						<tr class="info head">
							<td colspan="3">Features</td>
						</tr>
						<tr>
							<td>Download SysEx<br/><small>Download bank data in standard SysEx format</small></td>
							<td></td>
							<td class="ac"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
						</tr>
						<tr class="info head">
							<td colspan="3">Price <small>per year</small></td>
						</tr>
						<tr>
							<td></td>
							<td class="ac"><span class="price summary" >Free</span></td>
							<td class="ac">
								<div class="price">
									<span class="currency summary">{{accounts.pro.price | currency:"€"}}</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
                <p>After one year all your presets are still available, even if you choose to not prolong your account. You just can't create new banks if these might exceed the limits.</p>
			</div>
			<div class="col-sm-6 col-md-6">

				<div ng-hide="user.is_valid_pro || !token">
					<div id="wrapper-payment" >
						<form id="checkout" method="post" autocomplete="off">
							<div id="dropin-container"></div>
							<button ng-show="braintreeIsReady" class="btn btn-primary btn-block" >Pay {{accounts.pro.price | currency:"€"}} for a 1 year subscription</button>
						</form>
					</div>
					<p ng-show="braintreeIsReady">The subscription automatically ends after one year.<br>No recurring payment, no abonnement.</p>
				</div>	


				<div ng-show="user.is_valid_pro" >
					<p class="ac">Thanks for already being an active supporter!</p>
				</div>
				<div ng-hide="token" >
					<p class="ac">To upgrade you first have to <a ng-href="#/login">login</a> or <a ng-href="#/register">register</a>.</p>
				</div>

			</div>
		</div>
	</div>
</div>
