<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="page-header">Login</h2>
			<form name="myForm">
				<div class="form-group">
					<label for="field-username">Username</label>
					<input type="text" ng-model="Users.username" class="form-control" id="field-username" name="username" ng-required="myForm.username.$dirty">
					<span class="help-block" ng-show="myForm.username.$error.required">Required!</span>
				</div>
				<div class="form-group">
				   <label for="field-password">Password</label>
				   <input type="password" ng-model="Users.password" class="form-control" id="field-password" name="password" ng-required="myForm.password.$dirty">
				   <span class="help-block" ng-show="myForm.password.$error.required">Required!</span>
				 </div>

				<button type="submit" class="btn btn-primary" ng-click="login()" >Log in</button>
				<a ng-href="#/password_request">Forgot password?</a>
			</form>
		</div>
	</div>
</div>