<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="page-header">Request new password</h2>
			<p>Please enter your username. We will send you an email with further instructions how to get a new password.</p>
			<form name="myForm">
				<div class="form-group">
					<label for="field-username">Username</label>
					<input type="text" ng-model="username" class="form-control" id="field-username" name="username" ng-required="myForm.username.$dirty">
					<span class="help-block" ng-show="myForm.username.$error.required">Required!</span>
				</div>
				<button ng-disabled="myForm.$pristine" type="submit" class="btn btn-primary" ng-click="passwordRequest()">Submit</button>
			</form>
		</div>
	</div>
</div>