<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="page-header">My profile</h2>
			<form name="myForm" autocomplete="off" class="mb2">
				<div class="form-group" ng-class="{'has-error' : myForm.username.$error.required}">
					<label for="field-username">Username</label>
					<input type="text" ng-model="Users.username" class="form-control" id="field-username" name="username" ng-required="myForm.$dirty" >
					<span class="help-block" ng-show="myForm.username.$error.required">Required!</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : myForm.email.$error.required}">
					<label for="field-email">Email</label>
					<input type="email" ng-model="Users.email" class="form-control" id="field-email" name="email" ng-required="myForm.$dirty" >
					<span class="help-block" ng-show="myForm.email.$error.required">Required!</span>
				</div>
				<div class="form-group" ng-class="{'has-error' : myForm.password.$error.required}">
					<label for="field-password">Password</label>
					<input type="password" ng-model="Users.password" class="form-control" id="field-password" name="password" >
				</div>

				<button ng-disabled="myForm.$invalid || myForm.$pristine" type="submit" class="btn btn-primary" ng-click="changeProfileData()" >Save my Data</button>
			</form>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>
				<button 
					class="btn btn-danger"
					mwl-confirm
					title="Delete your Profile"
					message="Are you sure you want to delete your entire profile? All your banks will be deleted as well. This cannot be undone!"
					confirm-text="Yes, delete"
					cancel-text="No, cancel"
					on-confirm="deleteProfile()"
					placement="right"
					confirm-button-type="danger">
					Delete Profile</button>
			</p>
		</div>
	</div>
</div>