<header ng-include src="'partials/header.html'"></header>
<div class="container container-black">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">Welcome to F0F7 - LASER Mammoth!</h2>
            <p></p>
		</div>
	</div>
</div>