html {
    height: 100%;
    font-size: @font-size-base;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: @font-size-base;
    color: #404040;
    padding-top: 80px;


    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    #gradient.vertical-three-colors(@start-color: @brand-primary; @mid-color:  @brand-secondary; @color-stop: 50%; @end-color: @brand-tertiary;);
}

a[ng-click]{
    cursor: pointer;
}

.mb1 {
  margin-bottom: 1.5rem;
}

.mb2 {
  margin-bottom: 3rem;
}

.mr1 {
  margin-right: 1rem;
}

.ar {
  text-align: right;
}
.ac {
  text-align: center;
}

#logo-mammoth {
  margin-top: 10px;
  height: 70px;
  display: block;
  opacity:1;
  transition:all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#logo-mammoth.shootlasers {
  opacity:0.8;
  height: 70px;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;

  .well {
    .bg-variant(#222);
    border: none;
    margin-top: 25px;
  }
  ul {
    color: #111;
  }
}

.container-black {
  .opacity(0.95);
  color: #ddd;
  background-color: #111;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.75);
}

header {
  .container-black {
    .opacity(1);
  }
}
.content-text {
  ul, ol {
    color: #fff;
  }
}

.form-control {
  background-color: #333;
  color: #eee;
  border: none;
}

#logger {
  top: 0;
  left: 15px;
  position: fixed;
  z-index: -1;
  samp {
    z-index: -1;
  }
}

pre {
  font-size: 0.85rem;
}

.patchList {
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .badge {
    font-size: 0.6rem;
    vertical-align: middle;
  }

  .program-info {
    display: inline-block;
    
    .dna {
      // display: block;
      margin-left: 0.7rem;
      font-size: 0.7rem;
      line-height: 0.7rem;
      color: @gray;
    }
  }

  ul[dnd-list],
  ul[dnd-list] > li {
    position: relative;
  }

  /**
   * The dnd-list should always have a min-height,
   * otherwise you can't drop to it once it's empty
   */
  ul[dnd-list] {
      min-height: 32px;
      padding-left: 0px;

      border-radius: 0px;
      background-color: #ddd;
  }

  ul[dnd-list].empty {
    // border-radius: 5px;
    // background-color: #ddd;
  }

  /**
   * The dndDraggingSource class will be applied to
   * the source element of a drag operation. It makes
   * sense to hide it to give the user the feeling
   * that he's actually moving it.
   */
  ul[dnd-list] .dndDraggingSource {
      display: none;
  }

  /**
   * An element with .dndPlaceholder class will be
   * added to the dnd-list while the user is dragging
   * over it.
   */
  ul[dnd-list] .dndPlaceholder {
      display: block;
      background-color: #ddd;
      min-height: 32px;
  }

  li.list-exceed {
    color: #999;
    .badge {
      background-color: @brand-warning;
    }
  }
}

ul[dnd-list] li,
ul.list-group li {
    border: 1px solid #aaa;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: block;
    padding: 5px 5px;
    margin-bottom: -1px;
    font-family: @font-family-monospace;
    a {
      font-size: 0.9rem;
      line-height: 0.9rem;
    }
}

ul[dnd-list] li.selected,
ul.list-group li.selected {
    // background-color: @brand-info;
    #gradient.horizontal(@brand-info, darken(@brand-info,10%));
    color: #fff;
    a, .dna, .editTools .glyphicon {
      color: #fff;
    }
}

/*
dnd animation
*/
// ul[dnd-list] {
//   li {
//     overflow: hidden;
//     height:46px;
//   }

//   // li.ng-enter {
//   //   animation: list_fade_in_animation 0.2s ease-in;
//   // }
//   li.ng-leave,
//   li.ng-move {
//     animation: list_fade_out_animation 0.1s linear;
//   }
//   @keyframes list_fade_in_animation {
//     from { height:0px; padding-top: 0px; padding-bottom:0px;}
//     to { height:46px; padding-top: 10px; padding-bottom: 10px;}
//   }
//   @keyframes list_fade_out_animation {
//     from { height:46px; padding-top: 10px; padding-bottom: 10px;}
//     to { height:0px; padding-top: 0px; padding-bottom:0px;}
//   }
// }


.bankmanager {
  .panel {
    ul.list-group {
      background-color: #ddd;
      li {
        padding-left: 15px;
      }
    }
    margin-top: 22px;
    background-color: transparent;

    .panel-heading {
      color: #fff;
      #gradient.horizontal(@start-color: @brand-primary; @end-color: @brand-secondary;);
    }
  }
}

.contentblock,
.bankmanager,
.patchList {

    border-radius: @border-radius-base;
    .list-group-item {
      background-color: transparent;
    }
    margin-top: 0;
    
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.75);

    // background-color: #222;
    // background-image: url("http://www.transparenttextures.com/patterns/binding-dark.png");

    // background-image: url("img/batthern.png");
    // background-repeat:repeat;
    


  .wrapper-head {
    position: relative;
    h2 {
      display: inline-block;
    }
  }
}

.tron-top, .tron-bottom {
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.tron-top {
  padding-top: 45px;
  background-image: url("img/grid-top.png");
  background-position: center top;

}
.tron-bottom {
  padding-bottom: 120px;
  background-image: url("img/grid-bottom.png");
  background-position: center bottom;
}

.panel-primary, .panel-info {
  border: none;
}

.contentblock {
  li {
    color: white;
  }

}

.alert-top {
  margin-top: 30px;
  margin-bottom: 0px;
}

.editTools {
  a {
    display: inline-block;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .glyphicon {
    color: @gray;
  }

  .lnk-publish {
    color: @gray-light;
  }
  .lnk-delete {
    color: @gray-light;
  }
  .lnk-delete:hover .glyphicon {
    color: @brand-danger;
  }
}

.is-public,
.is-public.selected {
  .editTools {
    .lnk-publish .glyphicon {
      color: @green;
    }
  }
}

.toolbar {
  margin-bottom: 1rem;
  .import-file {
    // padding: 6px 0;
    display: block;
    .button-variant(@btn-primary-color; transparent; @gray-lighter);
  }
  input[type=file] {
    margin-top: 1rem;
    display: flex;
  }
  p {
    border-left: dotted 1px #ccc;
    padding-left: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

.cfp-hotkeys-container {
  color: #fff;
  background-color: rgba(0,0,0,0.95);
}
.cfp-hotkeys table {
  color: #fff;
}

#wrapper-payment {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

ul.list-devices {
  color: #fff;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    // border-radius: @border-radius-base;
    background-color: @brand-tertiary;
}
 
::-webkit-scrollbar-thumb {
    background-color: @brand-primary;
    // border-radius: @border-radius-base;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

h1 {
  font-size: 2rem;
  color: @brand-primary;
}

h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  color: @brand-secondary;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  // color: spin(@brand-secondary, 60);
  color: @brand-primary;
}

h1 small,
h2 small {
  color: #fff;
}

ul, ol, p {
  margin-bottom: 3rem;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #222 transparent;
  margin-left: auto; 
  margin-right: auto;
}

form {
  margin-bottom: 2rem;
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.navbar-nav {
  margin-top: 1rem;
}

.navbar {
  border: none;
  .icon-bar {
    border-color: #333;
    background-color: #fff;
  }
}

.navbar-nav>li>a {
  // padding: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: none;
}

.btn-hollow {
  background-color: transparent;
}

blockquote p:before { 
    content: open-quote;
} 
blockquote p:after { 
    content: close-quote;
}

.btn-request {
  .button-variant(@btn-primary-color; @green; @green);
}

.alert {
  p {
    margin-bottom: 1rem;
  }
}

.deviceHints ul {
  color: @gray-light;
}

.embed-responsive {
  margin-bottom: 30px;
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

@footerHeight : 80px;

#wrap {min-height: 100%;}

#main {overflow:auto;
  padding-bottom: @footerHeight;}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -@footerHeight; /* negative value of footer height */
  height: @footerHeight;
  clear:both;
}

#footer {
  span {
    color: @gray;
    padding: 15px;
  }
  a {
    color: white;
  }
}

/*
Media Query
 */
@media (max-width: @screen-sm-min) {
  ul.navbar-nav {
    text-align: center;
    .mr1 {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }

}
